<h2><b>SOFTWARE ENGINEERING WORKSHOP II</b></h2>
<p>3920_COMP_SCI_2206<br \>2019 Semester 2</p>
<p><br \></p>
<h3><b>Course Information</b></h3>
<p><%= @courseInfo %></p>

<h3><b>Notes</b></h3>
<p><%= link_to @topic1, topic1_path %><br \></p>
<p><%= @topic2 %><br \></p>
<p><%= @topic3 %><br \></p>
<p><%= @topic4 %><br \></p>
<p><%= @topic5 %><br \></p>

<h3><b>Tutorials</b></h3>
<p><%= @tutorials %></p>

<!--Sidebar-->
<ul>
	<li>Home</li>
	<li>Announcements</li>
	<li>Modules</li>
	<li>Assignments</li>
	<li>Grades</li>
	<li>Echo 360</li>
	<li>Help</li>
</ul>

