<!DOCTYPE html>
<html>
  <head>
    <title>Student Life | University of Adelaide</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
  </head>
  <body>
    <div id="navbar">
      <ul>
        <li class="icon">
          <%= link_to homepage_path do %>
            <% image_tag 'logo.png', width: 52 %>
          <% end %>
        </li>
        <li><%= link_to "Home", homepage_path%></li>
        <li><%= link_to "Courses", coursePage_path %></li>
        <li><a>Calendar</a></li>
        <li><a>Ask Adelaide</a></li>
        <li class="icon help">
          <%= link_to helpPage_path do %> <i class="fas fa-question-circle"></i> <% end %>
        </li>
        <li class="icon">
          <form><input class="icon" type="text" placeholder="Search..">
          <button type="submit"><i class="fa fa-search"></i></button></form>
        </li>
      </ul>
    </div>

    <div style="margin-top:100px">
    <%= yield %>
  </div>
  </body>
</html>
